{% extends 'base.html' %}
{% block content %}
<div class="options-header">
    <h2>FIND OUT MORE ABOUT YOUR SKINCARE ROUTINE</h2>
    <p>How well do you know your routine? </p>
</div>

<div class="options-grid">

    <a href="/method" class="option-card">
        <img src="/static/images/opt1.jpg" class="option-img">
        <span class="option-label">START</span>
    </a>

    <a href="/skin-types" class="option-card">
        <img src="/static/images/opt2.jpg" class="option-img">
        <span class="option-label">IDENTIFY YOUR SKIN TYPE</span>
    </a>

    <a href="/about" class="option-card">
        <img src="/static/images/opt3.jpg" class="option-img">
        <span class="option-label">ABOUT THIS TOOL</span>
    </a>

    <a href="/combos" class="option-card">
        <img src="/static/images/opt4.jpg" class="option-img">
        <span class="option-label">INGREDIENT COMBINATIONS</span>
    </a>

</div>
{% endblock %}